global
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8080
    default_backend django_backend

backend django_backend
    balance roundrobin
    server django1 127.0.0.1:8000 check  # Local Django instance